@import 'normalize';
@import 'variables';
@import 'media-queries';

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  line-height: 1.5;
}

h1 {
    font-weight: 600;
    font-size: 4vw;
}

h2 {
  font-size: 24px;
}

h3 {
    font-size: 18px;
}

hr {
    width: 95%;
    margin-left: 0;
    border: none;
    border-bottom: 3px solid white;
}

.wrapper {
  display: flex;
}

.results {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#pred {
    align-self: center;
}

.main {
  text-align: left;
}

.aside {
  flex: 1 0 auto;
  height: 100%;
}

.aside-1 {
    width: 40%;
    position: relative;
    background: $blue;
    color: white;
    padding: 80px 20px 0px 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: relative;
    height: auto;
    padding-bottom: 80px;
}

#utsc .aside-1 {
  background: $green;
}

.aside-2 {
  width: 60%;
  padding: 0 100px;
  align-self: center;
  overflow: auto;
}

.row {
    margin: 20px 0;
}

.form {
    margin: 35px 0;
}

.switch-school {
    color: white;
    line-height: 2;
    transition: 0.3s all ease;
    &:hover {
        text-decoration: underline;
        color: white;
    }
}

a {
    color: lighten($blue, 20%);
}

.contact, .contact a {
    color: lighten($blue, 30%);
}

#utsc .contact, #utsc a {
    color: darken($green, 10%);
}

footer {
    position: absolute;
    bottom: 30px;
}

pre {
    padding: 30px;
    white-space: pre-line;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
}

.italic {
    font-style: italic;
}

.btn-default, .form-control {
    color: white;
    background-color: transparent;
    border-color: white;
    &:hover {
        background: white;
        border: 1px solid white;
        color: #444;
        box-shadow: none;
    }
}

.btn-default.active {
    background: white;
    border: 1px solid white;
}

.btn.active {
    box-shadow: none;
}

.form h3 {
    margin-bottom: 8px;
}

@import 'media-queries';
