@charset "UTF-8";
/*Campus main CSS 2008*/
/*Table of Contents
		Typography
		Header
		Navigation
		Body			
		Footer
*/

/**********Typography*********
body{
	font:12px Verdana, Arial, Helvetica, sans-serif;		
	color: #000;	
}
.small{
	font-size:.9em;
	color:#002a5c;
}*/
.mainFont{
	color:#002a5c;
}
#newsContent a, #eventsContent a, #resourcesContent a{
	color:#002a5c;
	text-decoration:underline;
}
#newsContent a:hover, #eventsContent a:hover, #resourcesContent a:hover{
	text-decoration:none;
}
h3, .Heading{
	padding-bottom:0.5em;
	color:#002a5c;
	font-weight:700;	
}
.sectionFont{
	font-size: 14px;
	color: #002a5c;
	font-weight: 700;
	text-align: right;
}


/**********Header**********/
img{
	border:0;
}
/*#logo{
	margin:20px 15px 20px 0;
	float:left;	
}
#util{
	margin:20px 0;
	padding:0;		
	float:right;
	width:38em;	
	text-align:right;
}
#util ul{
	margin:0;
	padding:0;
}
#util ul li{
	padding:0 0.5em;
	display:inline;
	list-style:none;	
	border-right:1px solid #002a5c;
}
#search{	
	margin-left:10%;
	clear:right;	
	float:right;	
	width:34em;
}
#search .txtField{
 	clear:both;
	float:left;
	border:1px solid #CCC;
	border-top:2px solid #707070;
	border-left:2px solid #999;
	width:20em;
	height:15px;	
	margin-right:5px;
}
html>body #search .txtField{
	width:21.5em;/*FF*
	*width:22em;/*IE7*
}
#search .btn{
	margin: 0;
	padding:0;
	width:8em;
	background:#fff;
	border:1px solid #ccc;
}
html>body #search .btn{
	float:right;/*FF*
	*float:none;/*IE7*
}
#search .radioBtn{
	clear:both;
	margin-left:-10px;
	margin-right:-0.5em;
}
html>body #search .radioBtn{
	margin:0 0.1em 0 -0.5em;/*FF*
	*margin:0 -0.5em 0 -1em;/*IE7*
}
#radioBtns{
	padding:0;
	width:25em;
	height:2em;	
}
html>body #radioBtns{
	margin-top:1em;/*FF*
	height:2em;
	*margin-top:-1em;/*IE7*
}
#branding{
	padding-top:3px;
	width:1000px;
	height:18px;
	clear:both;	
	background:#fbfcfe;
	float:left;		
}
html>body #branding{/*FF & IE 7*
	padding-top:0 0 2px 0;
	background:#fbfcfe;
	*padding:3px 0 0 0;
	*clear:both;
	*height:20px;	
}*/
/**********Navigation**********/
/*
#innerBox a{
	margin-bottom:-1em;
}
#innerBox a:hover{
	color:#2667c5;
}
*/


/*#form{
	margin:10px;	
}
.navigationblck{
	margin:0;
	padding:0;
	width: 12em;	
	border:1px solid #ccc;
}
#extra a{
	display:block;
	padding:2px;
	width:auto;		
}
html>body #extra a{
	padding:2px;/*FF*
	*padding:3px;/*IE7*
}*/
.hide{
	color:#e6ecf3;
}

/**********Body**********/
/*#extra{
	padding-bottom:20px;
}
#innerBox ul{
	margin-left:20px;
	padding:0;
}
#innerBox ul li{
	list-style:url(http://www.utsc.utoronto.ca/images/images/bullet.gif); 	
	margin-bottom:5px;
}*/

.crisis,.crisisbody, .impt, .imptBody, .noncrisis, .impt_noncris, .imptBody_noncris{
	font-family: "Gill Sans", Verdana, Arial, sans-serif;
	font-weight:bold;
}
.crisis, .impt, .noncrisis, .impt_noncris{
	font-size: 14px;	 
	text-transform:uppercase;
}
.crisisBody, .imptBody, .noncrisisbody, .imptBody_noncris{	
	font-size: 11px;	
}

#crisis {border:1px solid #c03;}

#crisis h3, #crisis h5, #crisis p {color:#c03; }

.crisis, .crisisBody{	
	color:#cc0033;	
}
.noncrisis, .noncrisisbody{	
	color:#002a5c;
}
.impt, .imptBody{		
	color:#577EB9;	
}
.impt_noncris, .imptBody_noncris{		
	color:#000000;	
}

#noncrisis { border:1px solid #002a5c;}

#noncrisis h3, #noncrisis h5, #noncrisis p {color:#002a5c; }


/**********Intranet********/
.marketing {font-family: "Gill Sans", Verdana, Arial, sans-serif;
			padding:1em;
			margin-bottom:10px;
			text-align:left;
			}
.marketing h3 { text-transform:uppercase; padding-bottom:.5em; font-weight:bold; text-align:center;}
.marketing h4 { padding-bottom:.5em;}
.marketing p { margin:0; padding:0; font-size:1.2em; text-align:left;}

#crisis {border:1px solid #c03; background:#FFECF2}
#crisis h3 {color:#c03; }

#noncrisis { border:1px solid #002a5c; background:#e6ecf3;}
#noncrisis h3 {color:#002a5c; }

#importantUpdates{
	margin:-0.5em 0 0.5em 1em;
	padding:0.5em;
	width:72%;
	height:auto;
	float:left;	
	border:1px solid #002a5c;	
}
html>body #importantUpdates{
	margin-top:1em;/*FF*/
	width:90%;
	
}
/*
#crisisMsg{
	margin:-0.5em 0 0.5em 1em;
	padding:0.5em;	
	width:72%;
	height:auto;
	float:left;
	border:1px solid #c03;	
}
html>body #crisisMsg{
	margin-top:1em;/*FF
	width:90%;	
}*/










/**********OSE Feeds*********
#news, #events, #resources{
	margin:5px 0 0 5px;
	padding:0;	
	width:784px;
	height:auto;
	float:left;	
}
html>body #news, html>body #events, html>body #resources{
	margin-left:-5px;/*FF
	width:778px;
}
#newsContent, #eventsContent, #resourcesContent{
	margin:0.3em 0 0 2.2em;
	width:80%;
	height:auto;	
}
html>body #newsContent, html>body #eventsContent, html>body #resourcesContent{
	width:740px;/*FF
	*width:735px;/*IE7
}
#resources{	
	height:130px;	
}
#resourcesContent{	
	height:70px;
}
.more{
	width:750px;
	float:right;	
	border-bottom:1px solid #002a5c;
}*/