/* main container */				

#container { 

width: 1000px;  

margin:0 auto;

padding: 0;	 /* the auto margins (in conjunction with a width) center the page */

text-align: left; /* this overrides the text-align: center on the body element. */

background: #fff url(../_images09/newbg-st.gif) repeat-y;

position:relative;

}



.blue-box {background: #ddddff; border: #000 solid 1px; padding: 0 6px;}

.white-box {background: #fff; border: #000 solid 1px; padding: 0 6px;}



.blue-box p, .white-box p {font-size: 1em; line-height: 1.3em;}



.title1 {font-size: 2.4em; line-height: 1.3em;}

.title2 {font-size: 1.8em; line-height: 1.3em;}



.grey-line {border-top: #666 solid 1px;}



ul.circle li {

list-style-type: circle;

margin:0px 20px;

font-style: bold;

}



ul.square li {

list-style-type: square;

margin:0px 20px;

}



h5 {

border-bottom:1px solid #114477;

color:#114477;

font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;

font-size:16px;

font-weight:bold;

margin-bottom:10px;

margin-top:35px;

padding-bottom:3px;

width:100%;

}



#headercontainer #UTSClogo a {

background:url("../images/utsc-registrar.png") no-repeat scroll left top transparent;

float:right;

height:116px;

margin:0 -3px 0 0;

text-indent:-99999px;

width:196px;

}



body  {



/*min-width:100%;*/



background: #f4f4f4;



}



.divider-line {border-bottom: 1px solid #002f64;}

a:link, a:visited {text-decoration: none ;}

#container a:hover {text-decoration: underline;}

#banner_nav-blue {

/*width:100%;*/

margin-left:5px;

background: #BFB800;

color: #fff;

/*padding: 5px 5px 5px 12px;*/

}



#banner_nav-blue a:link, #banner_nav-blue a:visited {

color:#fff;

font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

text-decoration:none;

}




/*main menu submenu styles */

#banner_nav-blue ul li {
    list-style:none;
    display:inline-block;
   padding: 5px;
    position:relative;
}



.menu ul li ul {
    position:absolute;
    margin-top: 1px;
    display: none;
}



.menu ul li ul {background: #BFB800;}

.menu   ul ul li {
    border-bottom: 1px solid #fff;
  width:100%;
   
}

.menu ul li a {display:block;}



.dropit {
    list-style: none;
    padding: 0;
    margin: 0;
}


.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
   display: block !important;
    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }
